<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="'false'" scroll="false" class="has-header">

        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="your name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="your email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="your password">
                </label>
            </ion-list>
            <button class="button button-stable button-outline button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>