<ion-view view-title="Account">
  <ion-content  overflow-scroll="true" padding="'true'" scroll="false" class="has-header">
		<div class="list">

			<div class="item item-divider">
				My Account Info
			</div>

			<a class="item item-thumbnail-left">
			    <img src="{{ currentAuth.password.profileImageURL }}">
			    <h2>name: '{{ currentUser.name }}'</h2>
			    <p>email: {{ currentAuth.password.email }}</p>
			</a>

			<div class="item item-divider">
				My fitBuddi
			</div>

			<a class="item item-thumbnail-left">
			    <img src="{{ currentAuth.password.profileImageURL }}">
			    <h2>name: '{{ currentUser.buddi.name }}'</h2>
			    <p>birthday: {{ buddiBirthday }}</p>
			</a>

			<button class="button button-block" ng-click="logout()">
  				Log out
			</button>
		</div>
  </ion-content>
</ion-view>
