.tabs .tab-item .icon.home {
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url('../icons/home_dark.png');
/*	background-size: 12px;*/
}

.tabs .tab-item .icon.graph {
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url('../icons/graph.png');
/*	background-size: 12px;*/
}

.tabs .tab-item .icon.wrench {
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url('../icons/wrench.png');
/*	background-size: 12px;*/
}

.heart {
	padding: 1px;
}

#pet {
	width: 24px;
	height: 48px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-image: url('../img/pet_sheet.png');
}